html,body {
	margin:0px;
	border:0px;
}
#header {
	position:absolute;
	width:100%;
	height:90px;
	background-color:#ff751a;
}
#menu {
	position:absolute;
	top:90px;
	width:100%;
	height:50px;
	background-color:#ffcc00;
	
}
#main {
	position:absolute;
	top:140px;
	width:12%;
	height:350px;
	background-color:#3399ff;
}
#footer {
	position:absolute;
	top:490px;
	width:100%;
	height:50px;
	background-color:#00ff55;
}
#text {
	position:absolute;
	top:140px;
	width:85%;
	height:100;
	background-color:white;
	left:175px;
}